<div class="wrapper">
		<div class="title" >
		{{board.board_title}}
		</div>
		<div class="emptyBoard" ng-show="showAddBoard">
			<input type="text" ng-model="boardTitle"/>
			<div ng-click="addBoard(boardTitle)" class="addBoard">
				ADD BOARD
			</div>
		</div>
		<div class="listwrapper" ui-sortable ng-model="lists">
			<div class="list" ng-repeat = "list in lists" ng-init="getCards(list)">
				{{list.list_title}}
				<div class="delete-list" ng-click = "deleteList(list.list_id)">
					Delete this list
				</div>
				
				<div ui-sortable="sortableOptions" class="card-wrapper" ng-model="list.cards" >
					<div  ng-repeat = "card in list.cards track by card.card_id" class="card"  ng-dblclick="openCard(card)"  >
						<div>{{card.card_title}}</div>
					</div>
				</div>
				<div class="card" ng-show="list.showAddCard">				
					<input type="text"/ ng-model="newCardTitle" ng-blur="saveCard(list,newCardTitle)">
				</div>
				<div ng-click="addCard(list)">
					Add new card...
				</div>
				
			</div>
			<div ng-click="createList()" class="list" ng-show="board.board_title">
				Add new list...
				<div ng-show="addList" >
					<input type="text"/ ng-model="newListTitle" ng-blur="saveList(newListTitle)">
				</div>
			</div>
			
		</div>

</div>	